<div class="container">
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #960c00 0%, #960c00 100%); border-color:#a52518;">Coordonator consiliu:</li>
                    <li class="list-group-item">Prof.dr.ing Mircea GIURGIU</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Membri:</li>
                    <li class="list-group-item">Prof.dr.ing Monica BORDA</li>
                    <li class="list-group-item">Prof.dr.ing Marina TOPA</li>
                    <li class="list-group-item">Prof.dr.ing Tudor PALADE</li>
                    <li class="list-group-item">Prof.dr.ing Dan PITICA</li>
                    <li class="list-group-item">Drd.ing Cosmin PLESA</li>
            </ul>
        </div>
    </div>

</div>
