<div class="row">
        <div class="col-md-12">   
            <div class="col-md-3">   
            </div>
            <nav class="navbar navbar-default navbar-static-top">
                <div class="container-fluid">
            <ul class="nav navbar-nav" id="navbar" class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                <li><a ui-sref="home" id="home">Acasa</a></li>
                <li>
                  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Organizare
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a ui-sref="consiliu">Consiliu scoala doctorate</a></li>
                  <li><a ui-sref="conducatori">Conducatori de doctorat</a></li>
                  <li><a ui-sref="doctoranzi" ng-if="userdata.role !== 'doctorand'">Doctoranzi</a></li>
                  <li><a ui-sref="doctoranzi" ng-if="userdata.role !== 'doctorand'">Post doctoranzi</a></li>
                  <li><a ui-sref="secretariat">Secretariat</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Admitere
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a ui-sref="inscriere">Inscriere</a></li>
                  <li><a ui-sref="tematica">Tematica propusa</a></li>
                  <li><a ui-sref="calendar">Calendar</a></li>
                  <li><a ui-sref="comisii">Comisii</a></li>
                  <li><a ui-sref="planificare-examene">Planificare examinare</a></li>
                  <li><a ui-sref="rezultate">Rezultate</a></li>
                  <li><a ui-sref="burse">Burse</a></li>
                  <li><a ui-sref="regulament">Regulament Admitere</a></li>
                  </ul>
                </li>
                <li>
                  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Teze de doctorat
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a ui-sref="etape">Etape</a></li>
                  <li><a ui-sref="standard">Standard</a></li>
                  <li><a ui-sref="formulare">Formulare</a></li>
                  </ul>
                </li>
                <!-- <li>
                  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Studii
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">Program de studii</a></li>
                  <li><a href="#">Proiect de cercetare</a></li>
                  <li><a href="#">Rapoarte</a></li>
                  <li><a href="#">Documente</a></li>
                  </ul>
                </li> -->
                <li><a href="http://iosud.utcluj.ro/" id="help">Abilitare</a></li>
                <li><a ui-sref="intrebari" id="intrebari">Intrebari</a></li>
                <!-- <li>
                  <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  International
                  <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                  <li><a href="#">EU Applicants</a></li>
                  <li><a href="#">Non-EU Applicants</a></li>
                  <li><a href="#">Diaspora</a></li>
                  <li><a href="#">Francophone countries</a></li>
                  <li><a href="#">Scholarships</a></li>
                  <li><a href="#">Links</a></li>
                  </ul>
                </li> -->
                <!-- <li><a href="/app/#/help" id="help">Anunturi</a></li> -->
                <li ng-if="name && userdata.role !== 'admin'" style="margin-left:100px;">
                    <a ui-sref="myprofile">
                        Bine ai venit, {{name}}.
                    </a>
                </li>
                <li style="margin-left:80px; margin-top: 13px;" ng-click="logout()">
                    <!-- <a ui-sref="myprofile"> -->
                      <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
                    <!-- </a> -->
                </li>
                <li ng-if="name && userdata.role === 'admin'" style="margin-left:100px;">
                    <a ui-sref="register">
                        Inregistreaza
                    </a>
                </li>
            </ul>
                </div>
      </nav>
      </div>
</div>