<div class="container">

        <div class="row">
  		<div class="col-sm-10"><h1>{{fullName}}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
              

      <div class="text-center">
        <!-- <img ng-if="userDetails.path" ng-src="assets/{{userPicture}}" class="avatar img-circle img-thumbnail" style="height: 150px; width: 150px" alt="avatar"> -->
        <img ng-if="userDetails.path" ng-src="{{firebaseImgUrl}}" class="avatar img-circle img-thumbnail" style="height: 150px; width: 150px" alt="avatar">
        <img ng-if="userDetails.path === null" ng-src="assets/avatar.png" class="avatar img-circle img-thumbnail" style="max-width: 150px;" alt="avatar">
        <!-- <h6>Incarca o poza noua</h6> -->
        <!-- <input type="file" class="text-center center-block file-upload" ngf-select="upload($file)"> -->
        <file-upload on-change="onChange">
          Incarca o imagine
        </file-upload>
      </div></hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a class="text-hyperlink-red" ng-href="{{userDetails.link}}">{{userDetails.link}}</a></div>
          </div>
               
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div>
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                  <form class="form" id="registrationForm">
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="nume"><h4>Nume</h4></label>
                              <input disabled type="text" class="form-control" ng-model="userDetails.name" name="nume" id="nume" placeholder="Nume">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input disabled type="email" class="form-control" ng-model="userDetails.email" name="email" id="email" placeholder="you@email.com">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Telefon</h4></label>
                              <input disabled type="text" class="form-control" ng-model="userDetails.phone" name="phone" id="phone" placeholder="Telefon">
                          </div>
                      </div>
                      <div class="form-group">
                          <div class="col-xs-6">
                              <label for="phone"><h4>Link</h4></label>
                              <input disabled type="text" class="form-control" ng-model="userDetails.link" name="link" id="link" placeholder="Link">
                          </div>
                      </div>
                      <!-- <div class="form-group">
                          
                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div> -->
                      <!-- <div class="form-group">
                          
                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div> -->
              	</form>
              
             </div><!--/tab-pane-->

               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->
    	<div ng-if="requestsList.length > 0" class="col-sm-9">
          <div class="tab-content">
            <div class="tab-pane active" id="home">
                    <div class="row" style="margin-top: 40px;">
                            <table class="table table-hover">
                                    <thead>
                                    <tr>
                                      <th class="table-border-color">Nume</th>
                                      <th class="table-border-color">Email</th>
                                      <th class="table-border-color">Telefon</th>
                                      <th class="table-border-color">Link</th>
                                      <th class="table-border-color">Actiuni</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="requestUser in requestsList">
                                      <td>
                                        <img class="avatar img-circle img-thumbnail" style="max-width: 50px;" ng-if="requestUser.path !== null" ng-src="assets/{{requestUser.path.split('/')[4]}}" />
                                        <img class="avatar img-circle img-thumbnail" style="max-width: 50px;" ng-if="requestUser.path === null" ng-src="assets/avatar.png" />
                                        <span>{{requestUser.name}}</span>
                                      </td>
                                      <td style="vertical-align: middle;"><a class="text-hyperlink-red" ng-href="mailto:{{requestUser.email}}">{{requestUser.email}}</a></td>
                                      <td style="vertical-align: middle;" ng-bind="requestUser.phone"></td>
                                      <td style="vertical-align: middle;"><a class="text-hyperlink-red" ng-href="{{requestUser.link}}">{{requestUser.link}}</a></td>                  
                                      <td>
                                          <button class="btn btn-red-aplica" ng-click="accepta(requestUser.idUser)">Accepta</button>
                                          <button class="btn btn-black-renunta">Refuza</button>
                                    </td>          
                                    </tr>
                                  </tbody>
                            </table>
                    </div>
              
             </div><!--/tab-pane-->

               
              </div><!--/tab-pane-->
          </div><!--/tab-content-->
    	<div class="row" ng-if="userDetails.role !== 'doctorand'">
          <div class="col-md-3">
                    <div style="margin-top: 40px;">
                      <form class="form" id="registrationForm">
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label for="nameLab"><h4>Laborator</h4></label>
                                <input type="text" class="form-control" ng-model="laboratoryObj.name" name="nameLab" id="nameLab" placeholder="Nume">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label for="startDate"><h4>Data inceput</h4></label>
                                <input type="date" class="form-control" ng-model="laboratoryObj.startDate" name="startDate" id="startDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10">
                                <label for="endDate"><h4>Data sfarsit</h4></label>
                                <input type="date" class="form-control" ng-model="laboratoryObj.endDate" name="endDate" id="endDate">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-10" style="margin-top:25px;">
                              <button class="btn btn-red-aplica" ng-click="sendLaboratory()">Trimite</button>
                            </div>
                        </div>
                  </form>
                    </div>
              </div><!--/tab-pane-->
                <div class="col-md-5">
                    <div class="tab-content" style="margin-top: 40px;">
                      <div class="tab-pane active" id="home">
                                      <table class="table table-hover">
                                              <thead style="border-bottom: 2px solid #a8261c !important;">
                                              <tr>
                                                <th class="table-border-color">Laborator</th>
                                                <th class="table-border-color">Nume</th>
                                                <th class="table-border-color pull-right" style="border: none !important;">Download</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                              <tr ng-repeat="download in downloadList">
                                                <td style="vertical-align: middle;">
                                                  <span>{{download.tableName}}</span>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                  <span>{{download.name}}</span>
                                                </td>
                                                <td style="vertical-align: middle;">
                                                  <span><a ng-href="{{download.fileUrl}}">{{download.fileName}}</a></span>
                                                </td>
                                              </tr>
                                            </tbody>
                                      </table>
                        
                       </div><!--/tab-pane-->
          
                         
                        </div><!--/tab-pane-->
                    </div><!--/tab-content-->
          </div><!--/tab-content-->
          <div class="row" ng-if="laboratoriesList.length > 0">
            <div class="col-md-6">
                <div class="tab-content">
                  <div class="tab-pane active" id="home">
                                  <table class="table table-hover">
                                          <thead>
                                          <tr>
                                            <th class="table-border-color">Nume</th>
                                            <th class="table-border-color">Data start</th>
                                            <th class="table-border-color">Data sfarsit</th>
                                            <th class="table-border-color">Upload</th>
                                            <!-- <th class="table-border-color">Email</th>
                                            <th class="table-border-color">Telefon</th>
                                            <th class="table-border-color">Link</th>
                                            <th class="table-border-color">Actiuni</th> -->
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr ng-repeat="laboratory in laboratoriesList">
                                            <td style="vertical-align: middle;">
                                              <span>{{laboratory.tableName}}</span>
                                            </td>
                                            <td style="vertical-align: middle;">
                                              <span>{{laboratory.startDate}}</span>
                                            </td>
                                            <td style="vertical-align: middle;">
                                              <span>{{laboratory.endDate}}</span>
                                            </td>
                                            <td style="vertical-align: middle;">
                                              <!-- <div class="input-group">
                                                <input onchange="angular.element(this).scope().onChangeFile(files)" class="form-control" type="file" />
                                                <div class="input-group-btn">
                                                  <button class="btn btn-default" type="button" ng-click="upload()">Upload</button>
                                                </div>
                                              </div> -->
                                              <document-upload on-change-document="onChangeDocument" ng-click="documentDetails(laboratory)">
                                                Incarca un fisier
                                              </document-upload>
                                            </td>
                                            <!-- <td style="vertical-align: middle;"><a class="text-hyperlink-red" ng-href="mailto:{{requestUser.email}}">{{requestUser.email}}</a></td>
                                            <td style="vertical-align: middle;" ng-bind="requestUser.phone"></td>
                                            <td style="vertical-align: middle;"><a class="text-hyperlink-red" ng-href="{{requestUser.link}}">{{requestUser.link}}</a></td>                  
                                            <td>
                                                <button class="btn btn-red-aplica" ng-click="accepta(requestUser.idUser)">Accepta</button>
                                                <button class="btn btn-black-renunta">Refuza</button>
                                          </td>           -->
                                          </tr>
                                        </tbody>
                                  </table>
                    
                   </div><!--/tab-pane-->
      
                     
                    </div><!--/tab-pane-->
                </div><!--/tab-content-->
          </div>

        </div><!--/col-9-->
    </div><!--/row-->

</div>
