<div class="container">

    <h4>Etape de sustinere</h4>
    <span>Etapele care se parcurg pentru sustinerea tezei sunt prezentate pe siste-ul IOSUD-UTCN:</span>
    <span><a href="http://iosud.utcluj.ro/sustinerea-tezei-de-doctorat.html">Etape si documente necesare sustinerii tezei</a></span>

</div>
