<!-- <div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-4">
                <input type="text" class="form-control" ng-model="credentials.username" name="username" />
                <input type="password" class="form-control" ng-model="credentials.password" name="password" />
                <button class="btn btn-primary" ng-click="login(credentials)">Login</button>
            </div>
        </div>
    </div>
</div> -->
<div class="container m-t-90">
    	<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-12">
								<a href="#" class="active text-center" id="login-form-link">Login</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" style="display: block;" ng-submit="login(credentials)">
									<div class="form-group">
										<input type="text" name="login-username" ng-model="credentials.email" id="login-username" tabindex="1" class="form-control" placeholder="Username" value="">
									</div>
									<div class="form-group">
										<input type="password" name="login-password" ng-model="credentials.password" id="login-password" tabindex="2" class="form-control" placeholder="Password">
									</div>
									<div class="form-group">
										<div class="row">
											<div class="col-sm-6 col-sm-offset-3">
												<input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Log In">
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
