<div class="container">

    <h4>Criterii de evaluare</h4>
    <div class="row">
        <div class="col-md-12">
            <span>
                Standardele de elaborare şi criteriile de evaluare a tezelor de doctorat sunt cele generale stabilite de CNATDCU. CSUD şi respectiv Consiliile Consiliul şcolii doctorale şcolilor doctorale, cu aprobarea CSUD pot stabili condiţii specifice pentru doctoratele din cadrul IOSUD-UTCN.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>
                Studentul-doctorand are obligaţia de a respecta formatul tip al tezei de doctorat stabilit în cadrul IOSUD-UTCN. Pe baza susţinerii publice a tezei de doctorat şi ţinând seama de rapoartele de evaluare, comisia de doctorat deliberează asupra calificativului pe care urmează să-l acorde tezei de doctorat.
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <span>
                Fiecare membru al comisiei de doctorat acordă câte un calificativ. Se pot atribui calificativele „Excelent”, „Foarte bine”, „Bine”, „Satisfăcător” sau „Nesatisfăcător”. Calificativul care a întrunit majoritatea absolută a voturilor exprimate de membrii comisiei devine hotărâre a întregii comisii. La acordarea calificativelor se va ţine cont de criteriile generale ale CNATDCU şi de cele specifice stabilite în cadrul IOSUD-UTCN.
            </span>
        </div>
    </div>
</div>
