<div class="container">

        <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">
                            <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Secretariat</li>
                            <li class="list-group-item">Ing. Dorina BĂRĂIAN</li>
                            <li class="list-group-item">Telefon: 0264 401293</li>
                            <li class="list-group-item">E-mail: Dorina.Baraian@staff.utcluj.ro;</li>
                            <li class="list-group-item">secretariatdoctorat@staff.utcluj.ro</li>
                            <li class="list-group-item">Str. Constantin Daicoviciu, nr. 15</li>
                            <li class="list-group-item">sala 442, 40020, Cluj-Napoca</li>
                    </ul>
                </div>
            </div>

</div>
