<div class="container">
	<div class="row">
		<div class="col-md-12">
				<div class="box">
					<!-- <flex-slider flex-slide="s in mySlides track by $index">
							<li>
								<img ui-sref="{{s.state}}" ng-src="{{s.url}}">
								<div class="caption-box flex-caption">Adventurer Lemon</div>
							</li>
						</flex-slider> -->
						<div id="myCarousel" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
								  <li data-target="#myCarousel" ng-non-bindable data-slide-to="0" class="active"></li>
								  <li data-target="#myCarousel" ng-non-bindable data-slide-to="1"></li>
								  <li data-target="#myCarousel" ng-non-bindable data-slide-to="2"></li>
								</ol>
							  
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
								  <div class="item active">		
											<img src="assets/imgs/studenti.png" alt="studenti">
											<!-- <div class="header4">
													<h4>Organizare</h4>
											</div> -->
								  </div>
							  
								  <div class="item">
											<img src="assets/imgs/didatec.png" alt="didatec">
											<!-- <div class="header4">
													<h4>Admitere</h4>
											</div> -->
								  </div>
							  
								  <div class="item">									
											<img src="assets/imgs/placa.png" alt="placa">
											<!-- <div class="header4">
													<h4>Anunturi</h4>
											</div> -->
									</div>

									<div class="item">
											<img src="assets/imgs/et_cover.png" alt="et_cover">
											<!-- <div class="header4">
													<h4>Acasa</h4>
											</div> -->
									</div>
									
								</div>
							  
								<!-- Left and right controls -->
								<a class="left carousel-control remove-carousel-color" href="#myCarousel" ng-non-bindable data-slide="prev">
								  <span style="color: red;" class="glyphicon glyphicon-chevron-left"></span>
								  <span class="sr-only">Previous</span>
								</a>
								<a class="right carousel-control remove-carousel-color" href="#myCarousel" ng-non-bindable data-slide="next">
								  <span style="color: red;" class="glyphicon glyphicon-chevron-right"></span>
								  <span class="sr-only">Next</span>
								</a>
							  </div>
				</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<!-- <flex-slider flex-slide="s in mySlides track by $index">
							<li>
								<img ui-sref="{{s.state}}" ng-src="{{s.url}}">
								<div class="caption-box flex-caption">Adventurer Lemon</div>
							</li>
						</flex-slider> -->


						<div class="container ng-scope">
							<h1 class="text-danger text-center" id="helpHeader">Programe doctorale - Electronica, Telecomunicatii si Tehnologia Informatiei</h1>
							<br>
							<p class="text-justify">Domeniul de doctorat "Electronica, Telecomunicatii si Tehnologii Informatioanle" (ETTI) este integrat in IOSUD UTCN si este recunoscut prin Ordinul MENCS nr. 5382/2016.

 
							<div class="row">
								<div class="col-md-12">
								</br>Baza materială si infrastructura de cercetare a domeniului de doctorat ETTI este sustinută de centrele, laboratoarele sau grupurile de cercetare aferente departamentelor din facultatea ETTI prin dotare cu echipamente hardware si produse software din domeniul de doctorat, spatii de cercetare, acces la literatura de specialitate asigurată de centrele de cercetare și de Biblioteca UTCN, precum și acces la baze de date internaționale.
								</div>
							</div>
								
								 
								<div class="row">
									<div class="col-md-12">
									</br>Resursa umana este formată (referinta Oct 2018) din: 20 conducatori de doctorat si 87 de doctoranzi, la care se adauga post-doctoranzi, cercetători angajați în contracte de cercetare, membrii ai comisiilor de îndrumare, personalități științifice de prestigiu afiliate domeniului.
									</div>
								</div>
								
								 
								
					</br>Finalitatea activităților de cercetare doctorală este producerea de cunoștințe științifice originale, relevante la nivel național și internațional, și concretizate prin publicarea de articole științifice la manifestări sau în reviste de prestigiu, elaborarea de metode si soluții tehnice inovative în domeniu, finalizarea studiilor doctorale prin susținerea tezei de doctorat și obținerea titlului e doctor.
							</p>
								<ul>
										<!-- ngRepeat: help in helpContentList --><li ng-repeat="help in helpContentList" class="ng-binding ng-scope"> Technical Help - Contact us at tech@anitechcs.com</li><!-- end ngRepeat: help in helpContentList --><li ng-repeat="help in helpContentList" class="ng-binding ng-scope"> Billing Help - Contact us at billing@anitechcs.com</li><!-- end ngRepeat: help in helpContentList --><li ng-repeat="help in helpContentList" class="ng-binding ng-scope"> Enquiry Help - Contact us at info@anitechcs.com</li><!-- end ngRepeat: help in helpContentList --><li ng-repeat="help in helpContentList" class="ng-binding ng-scope"> Sales Help - Contact us at sales@anitechcs.com</li><!-- end ngRepeat: help in helpContentList -->
								</ul>
						</div>
		</div>
	</div>
</div>
