<div class="container">

    <span>Afisare rezultate intermediare Sesiunea I: (in progres)</span>
    <br>
    <span>Joi, 13.09.2018. Rezultate Sesiunea I, 13.09.2018.</span>
    <br>
    <br>
    <span>Confirmare loc la secretariutul CSUD, conform instructiunilor primite de la secretariat:

        Confirmarea se va face cu diploma originala a ultimei forme de studiu absolvite.
        Cei care au depus la inscriere diploma originala /adeverinta originala, nu mai este nevoie de confirmare.
        
        Pentru doctoranzii ADMISI la TAXA se va achita la caseria UTCN jumatate din taxa de scolarizare.
        
        IMPORTANT: Pentru cele 6 locuri ramase libere pentru Sesiunea a II-a, rugam contactati conducatorii de doctorat pentru a verifica disponibilitatea.</span>

</div>
