@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/bootstrap/less/theme.less";
@import "../bower_components/font-awesome/less/font-awesome.less";
@fa-font-path: "assets/fonts/font-awesome";
@import "../bower_components/angular-loading-bar/build/loading-bar.css";
@import '../bower_components/flexslider/flexslider.css';

/* Component LESS */
@import "home/home.less";
@import "help/help.less";
@import "common/common.less";
@import "admitere/admitere.less";
@import "auth/auth.less";
@import "organizare/organizare.less";
@import "teze/teze.less";
@import "../bower_components/angular-ui-notification/dist/angular-ui-notification.min.css";
@import "intrebari/intrebari.less";
/* Add Component LESS Above */

/* Required for Angular UI Bootstrap */

@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('assets/fonts/glyphicons-halflings-regular.eot');
    src: url('assets/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('assets/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('assets/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.nav, .pagination, .carousel a { cursor: pointer; }

.m-t-90 {
    margin-top: 90px;
}
.table-border-color {
    border-bottom: 2px solid #a8261c !important;
}
.btn-red-aplica,
.btn-red-aplica:hover,
.btn-red-aplica:active,
.btn-red-aplica:focus,
.btn-red-aplica:visited {
    background-image: -webkit-linear-gradient(top, #990a00 0%,#970d04 100%);
    color: #f5f5f5;
}
.btn-black-renunta,
.btn-black-renunta:hover,
.btn-black-renunta:active,
.btn-black-renunta:focus,
.btn-black-renunta:visited {
    background-image: -webkit-linear-gradient(top, #210604 0%,#1a0200 100%);
    color: #f5f5f5;
}
.text-hyperlink-red,
.text-hyperlink-red:hover,
.text-hyperlink-red:active,
.text-hyperlink-red:focus,
.text-hyperlink-red:visited {
    color: #a8261c
}
.red-line-title {
    border-bottom: 1px solid #a8261c;
}
.utcn-logo {
    margin-top: 5px;
    height: 70px;
}

.etti-logo {
    margin-top: 5px;
    height: 70px;
}
.text-row {
    margin-bottom: 10px;
    margin-top: 10px;
}
.header-title {
    color: #000000;
    margin-left:40px;
    font-family:'Source Sans Pro', sans-serif;
    text-align: center;
    
}
html {
    position: relative;
    min-height: 100%;
    // overflow: hidden;
}
body {
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

//   .h1,h2,h3,h4,h5{
//       color: black;
//   }
  

