<div class="container">

    <h3>Calendar 2019</h3>
    <h4>Site IOSUD - UTCN</h4>
    <span><a href="http://iosud.utcluj.ro/admitere.html">Acces la informatii de pe site IOSUD - UTCN</a></span>
    <h4>Documente de referinta privind admiterea la doctorat 2019</h4>
    <h4>Calendar admitere doctorat</h4>
    <br>
    <h4>Sesiunea I</h4>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <!-- <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Secretariat</li> -->
                <li class="list-group-item">Înscrierea candidaţilor în perioada: 02.09.2019-06.09.2019</li>
                <li class="list-group-item">Examenul de competență lingvistică: 05.09.2019 si 06.09.2019, orele 10:00 -
                    13:00, Sala 216, Str. Baritiu 25;</li>
                <li class="list-group-item">Desfășurarea concursului de admitere la doctorat în perioada: 09.09.2019 -
                    11.09.2019</li>
                <li class="list-group-item">Afișarea rezultatelor: 12.09.2019</li>
                <li class="list-group-item">Contestaţii: 13.09.2019</li>
                <li class="list-group-item">Confirmarea ocupării locurilor: 16.09.2019</li>
            </ul>
        </div>
    </div>
    <h4>Sesiunea II (concurs pentru locurile neocupate în sesiunea precedentă)</h4>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                <!-- <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Secretariat</li> -->
                <li class="list-group-item">Înscrierea candidaţilor în perioada: 17.09.2019-18.09.2019</li>
                <li class="list-group-item">Examenul de competență lingvistică: 17.09.2019 si 18.09.2019, orele 10:00 - 13:00, Sala 216, Str. Baritiu 25;</li>
                <li class="list-group-item">Desfășurarea concursului de admitere la doctorat: 19.09.2019 - 20.09.2019;</li>
                <li class="list-group-item">Afișarea rezultatelor: 20.09.2019</li>
                <li class="list-group-item">Contestaţii: 23.09.2019</li>
                <li class="list-group-item">Confirmarea ocupării locurilor: 24.09.2019</li>
            </ul>
        </div>
    </div>
    <br>
    <h4>Programarea testelor de competență lingvistică</h4>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Sesiunea I</li>
                    <li class="list-group-item">Examenul de competență lingvistică: 05.09.2019 și 06.09.2019, orele 10,00-13,00, sala 216, str. Bariţiu nr. 25</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Sesiunea II</li>
                    <li class="list-group-item">Examenul de competență lingvistică: 17.09.2019 şi 18.09.2019 orele 10,00-13,00, sala 216, str. Bariţiu nr. 25</li>
            </ul>
        </div>
    </div>
</div>