<div class="container">
        <div class="row">
            <div class="col-md-2 red-line-title">
                <h2>Doctoranzi</h2>
            </div>
        </div>
        <div class="row" style="margin-top: 40px;">
                <table class="table table-hover">
                        <thead>
                        <tr>
                          <th class="table-border-color">Nume</th>
                          <th class="table-border-color">Email</th>
                          <th class="table-border-color">Telefon</th>
                          <th class="table-border-color">Link</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="doctorand in doctoranzi">
                          <td>
                            <img class="avatar img-circle img-thumbnail" style="max-width: 50px;" ng-src="assets/{{doctorand.path.split('/')[4]}}" />
                            <img class="avatar img-circle img-thumbnail" style="max-width: 50px;" ng-if="userDetails.path === null" ng-src="assets/avatar.png" />
                            <span style="vertical-align:top;">{{doctorand.name}}</span>
                          </td>
                          <td><a class="text-hyperlink-red" ng-href="mailto:{{doctorand.email}}">{{doctorand.email}}</a></td>
                          <td ng-bind="doctorand.phone"></td>
                          <td><a class="text-hyperlink-red" ng-href="{{doctorand.link}}">{{doctorand.link}}</a></td>                          
                        </tr>
                      </tbody>
                </table>
        </div>

</div>
