<div class="container">
    <h3>Comisii examinare</h3>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Sesiunea I: 11.09.2019, incepand cu ora 09:00 (de contactat conducatorul).</li>
                    <li class="list-group-item">Comisii si planificare pe comisii - Sesiunea I-a: <a href="https://etti.utcluj.ro/files/anunturi/Doctorat/180910_Comisii_ETTI_2018_Ses_I.pdf">Comisii si sali.</a></li>
                    <li class="list-group-item">Comisii si planificare pe comisii - Sesiunea a II-a: <a href="https://etti.utcluj.ro/files/anunturi/Doctorat/Comisii_ETTI_2018_Ses_II.pdf">Comisii si sali.</a></li>
            </ul>
        </div>
    </div>
    <h4>
        Criterii de evaluare: (1) evaluare prezentare tema, (2) evaluare dosar si activitate anterioara. Media de admitere este media aritmetica a notelor intregi date de membrii comisiei. Pentru medii egale criteriul de departajare este media de la licenta si master.
    </h4>

</div>
