<div class="container">

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Intrebari</li>
                    <li class="list-group-item" style="height: 55px;" ng-if="userRole === 'doctorand'">
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="message">
                            </div>
                            <div class="col-md-2" style="margin-top: 5px; padding-right: 3px;">
                                <i class="fa fa-plus pull-right fa-2x" style="color: red;" aria-hidden="true" ng-click="postQuestion()"></i>
                            </div>
                    </li>
                    <li class="list-group-item" style="height: 100px;" ng-if="userRole === 'doctor'">
                            <div class="col-md-10">
                                <input type="text" class="form-control" ng-model="question" ng-disabled="true">
                            </div>
                            <div class="col-md-10" style="margin-top: 10px;">
                                <input type="text" class="form-control" ng-model="updatedAnswer">
                            </div>
                            <div class="col-md-2" style="margin-top: 15px; padding-right: 3px;">
                                <i class="fa fa-plus pull-right fa-2x" style="color: red;" aria-hidden="true" ng-click="answerQuestion(updatedAnswer)"></i>
                            </div>
                    </li>
                        <li class="list-group-item" ng-repeat="question in questions">{{question.name}}:&nbsp;{{question.question}}&nbsp;
                            <button data-toggle="#answer" class="fa fa-angle-double-right fa-2x pull-right" style="color: red; border:none; background:none;" ng-click="showAnswer(question)"></button>
                        </li>
            </ul>
        </div>
        <div class="col-md-6">
            <span>
                <div ng-if="answer" class="answer">
                    <p style="margin-top: 10px; margin-bottom: 10px; font-size: 20px;">
                        {{answer}}
                    </p>
                </div>
            </span>
        </div>
    </div>
</div>
