<div class="container">

    <h3>Tematica propusa</h3>
    <h4>Tematica pentru concursul de admitere la doctorat este elaborată de fiecare conducător ăn parte și va fi afișată pe site. De asemenea, se recomanda candidaților să ia legătura din timp cu conducătorul de doctorat pentru discutarea temei de doctorat.</h4>

</div>
