<div class="container">
    <h3>Inscriere</h3>
</br>
    <h4>Programul de doctorat din Facultatea de Electronica, Telecomunicatii si Tehnologia Informatiei are alocate prin decizia CSUD pentru sesiunea de admitere la doctorat Septembrie 2019 un numar de 17 locuri, dupa cum urmeaza:</h4>
        <div class="row">
                <div class="col-md-4">
                    <ul class="list-group">
                            <!-- <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Secretariat</li> -->
                            <li class="list-group-item">10 locuri IF cu bursa</li>
                            <li class="list-group-item">7 loc IF/IFR fara bursa;</li>
                            <li class="list-group-item"><a href="http://iosud.utcluj.ro/files/Admitere%202019/repartizare_admitere_2019_doctorat_final.pdf">Decizia de alocare</a></li>

                    </ul>
                </div>
            </div>
</div>
