<div class="container">
    <h4>Burse</h4>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">BURSE BUGET STAT</li>
                    <li class="list-group-item">Conform cu HG 1/06.01.2017 studentii doctoranzi sunt incadrati ca asistenti de cercetare sau asistenti universitari pe perioada determinata, iar bursele alocate incepand cu data de 01.02.2017 sunt dupa cum urmeaza:</li>
                    <li class="list-group-item">- Anul I de doctorat: 1450 lei pe luna;</li>
                    <li class="list-group-item">- Anul II de doctorat: 1450 lei pe luna;</li>
                    <li class="list-group-item">- Anul III de doctorat: 1680 lei pe luna.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">BURSE UTCN</li>
                    <li class="list-group-item">In vederea îmbunatatirii vizibilitatii si a gradului de valorificare a rezultatelor cercetarii stiintifice, UTCN acorda granturi suport de cercetare stiintifica pentru articole publicate in reviste de prestigiu in anul calendaristic 2017.</li>
                    <li class="list-group-item">Cererile de acordare a granturilor suport se depun in regim continuu la DMCDI.</li>
                    <li class="list-group-item">Mai multe informatii si formularul de solicitare se gasesc la adresa:</li>
                    <li class="list-group-item">http://research.utcluj.ro/index.php/granturi-suport-de-cercetare-stiintifica.html</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">
                        BURSE DAAD (GERMANIA)</li>
                    <li class="list-group-item">1. Burse de cercetare pentru doctoranzi și tineri cercetători – burse de scurtă durată (1-6 luni)

                        https://www.daad.de/miniwebs/icbukarest/ro/27143/index.html</li>
                    <li class="list-group-item">2. Stagii de cercetare pentru cadre didactice și cercetători (1-3 luni)

                        https://www.daad.de/miniwebs/icbukarest/ro/17453/index.html</li>
                    <li class="list-group-item">Burse de doctorat: o sansa extraordinara oferita absolventilor exceptionali de inginerie in vederea continuarii studiilor si implicit a procesului de specializare si dezvoltare profesionala. Perioada de acordare a burselor: bursele de doctorat se acorda pe o perioada de 2 ani, pentru acoperirea cheltuielilor de scolarizare si acomodare. Selectia se face de catre Comitetul Stiintific al Programului, in a carui componenta intra manageri seniori ai companiilor sponsor.</li>
                    <li class="list-group-item">Modalitatea de aplicare:

                        http://robertorocca.org/en/fellowships.aspx</li>
            </ul>
        </div>
    </div>
</div>
