<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col-md-12 center-register">
            <form ng-submit="register(userdata)" class="form-register-center" id="register-form">
                <div class="row">
                    <div class="form-group">
                        <input type="text" ng-model="userdata.name" name="name" id="name" tabindex="1" class="form-control" placeholder="Name">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="email" ng-model="userdata.email" name="email" id="email" tabindex="1" class="form-control" placeholder="Email">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="password" ng-model="userdata.password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="text" ng-model="userdata.phone" name="phone" id="phone" tabindex="3" class="form-control" placeholder="Phone">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <input type="text" ng-model="userdata.link" name="link" id="link" tabindex="4" class="form-control" placeholder="Link">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                            <!-- <label for="sel1">Select list:</label> -->
                            <select ng-model="userdata.role" class="form-control" id="sel1">
                              <option selected value="doctor">Doctor</option>
                              <option value="doctorand">Doctorand</option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <input type="submit" name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now">
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>
