<div class="container">

    <h3>Planificare examinare</h3>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Sesiunea I</li>
                    <li class="list-group-item">Data concurs de admitere: Miercuri 11.09.2019, incepand cu ora 09:00 (de contactat conducatorul) conform cu planificarea pe Comisii.</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <ul class="list-group">
                    <li class="list-group-item active" style="background-image: linear-gradient(to bottom, #a52518 0%, #a52518 100%); border-color:#a52518;">Sesiunea II</li>
                    <li class="list-group-item">Data concurs de admitere: Vineri, 20.09.2019, incepand cu ora 09:00 (de contactat conducatorul) conform cu planificarea pe Comisii.</li>
            </ul>
        </div>
    </div>

</div>
