<div class="container">

    <h3>Formulare</h3>
    <br>
    <h4>Formularele necesare pentru sustinerea tezei sunt prezentate pe siste-ul IOSUD-UTCN:</h4>
    <br>
    <h4><a href="http://iosud.utcluj.ro/sustinerea-tezei-de-doctorat.html">Formulare pentru procedura de sustinere a tezei</a></h4>

</div>
